{% extends 'homePage.html' %}
{%load static%}
{% load crispy_forms_tags %}
{% load socialaccount %}
{% block title %}Researcher{% endblock title %}
{% block header %}
{% endblock header %}
{% block body %}
<style>
.center-things{
    margin-left: auto;
    margin-right: auto;}

.margin-c{
    display:flex;
    flex-direction:column;
    margin-left:4rem;

}
</style>
<div class="margin-c container-md">
    <div class="row align-items-center row-cols-1 gx-5" style="margin-top:3rem;">
        <div class="col-3 center-things">
            <div class="list-group">
                <a href="{% url 'parkinson' %}">
                    <button type="button" class="list-group-item list-group-item-action">PD Research Parkinson Disease</button>
                </a>
            </div>
        </div>
        
        <div class="col-3 center-things">
            <div class="list-group"> 
                <a href="{% static 'data1.txt' %}" class="list-group-item list-group-item-action">Data 1</a>
                <a href="{% static 'data2.txt' %}" class="list-group-item list-group-item-action">Data 2</a>
                <a href="{% static 'data3.txt' %}" class="list-group-item list-group-item-action">Data 3</a>
                <a href="{% static 'data4.txt' %}" class="list-group-item list-group-item-action">Data 4</a>
                <a href="{% static 'data5.txt' %}" class="list-group-item list-group-item-action">Data 5</a>
                <a href="{% static 'data6.txt' %}" class="list-group-item list-group-item-action">Data 6</a>
            
            </div>
        </div>
    </div>

    <div class="row row-cols-1">
        <h1 class="display-4">Patients</h1>
    </div>   
        
        {% for user in users %}

        <div class="row">
            <p>Name : {{user.User}} | Email : {{user.email}} | Organization : {{user.Organization}} | Role : {{user.Role_IDrole}} | lat : {{user.lat}} | long : {{user.long}}</p> 
        </div>
        {%endfor%}
        <div class="row row-cols-1">
            <h1 class="display-4">Notes</h1>
        </div>
        {% for o in note %}
        <div class="row">
            <p>Note : {{o.note}} | Test Session : {{o.Test_Session_IDtest_session}} | Patient : {{o.User_IDmed}}</p>
        </div>
        {%endfor%}

        <div class="row row-cols-1">
            <h1 class="display-4">Tests</h1>
        </div>
        {% for o in tests %}
        <div class="row">
            <p>Time : {{o.dateTime}} | Therapy : {{o.Therapy_IDtherapy.User_IDpatient}}</p>
        </div>
        {%endfor%}
        
        <div class="row row-cols-1">
            <h1 class="display-4">Organizations</h1>
        </div>
        {% for o in organization %}
        <div class="row">
            <p>organizations : {{o.name}}</p>
        </div>
        {%endfor%}

        <div class="row row-cols-1">
            <h1 class="display-4">Therapy Lists</h1>
        </div>
        {% for o in therapy_list %}
        <div class="row">
            <p>Name : {{o.name}} | Medicine : {{o.Medicine_IDmedicine}} | Dosage : {{o.Dosage}}</p>
        </div>
        {%endfor%}

        <div class="row row-cols-1">
            <h1 class="display-4">Test Sessions</h1>
        </div>
        {% for o in test_session %}
        <div class="row">
            <p>Type : {{o.test_type}} | DataURL : {{o.DataURL}} | Test : {{o.Test_IDtest.Therapy_IDtherapy.User_IDpatient}}</p>
        </div>
        {%endfor%}


    
    
</div>


{% endblock body %}